@model EmpNameWithMSgClrTempBrachListViewModel

@{
    ViewData["Title"] = "DetailsVM";
}

<h1>DetailsVM</h1>
<h2 style="color:@Model.Color">@Model.EmpName</h2>
<h2 style="color:@Model.Color">@Model.DeptName</h2>

<select class="form form-control">
    @foreach (var item in Model.Branches)
    {
        <option>@item</option>
    }
</select>
<h3>@(Model.Temp+10)</h3>
